{
  "token": "Your bot's Discord token",
  "prefix": "Prefix of choice (Can be anything, commands have to start with this)",
  "ownerID": "Your Discord ID",
  "invite": "Your bot's invite link",
  "noLogs": false, // Whether you want to log your bot's activity to the console 
  "selfBot": false // Whether this bot is a selfBot
}
